<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	Dear Team,<br>
	Berikut adalah laporan kontrak yang akan berakhir
	<ol>
	List Kontrak Berakhir dalam 2 Minggu Total : {{ var_contract_dua_minggu.count }} <br>
	{% for a in var_contract_dua_minggu %}
	<li>{{ a.end_contract  }} : {{ a.contract_type  }} : {{ a.project }} <br></li>
	{% endfor %}
	</ol>
	
	Terimakasih,
	<!-- <ol>
	List Kontrak yang sebelumnya<br>
	{% for a in var_contract_follow_up %}
	<li>{{ a.end_contract  }} : {{ a.contract_type  }} : {{ a.project }} <br></li>
	{% endfor %}
	</ol>
	 -->
	<!-- <ol>
	List Kontrak yang ada<br>
	{% for a in var_contract %}
	<li>{{ a.end_contract  }} : {{ a.contract_type  }} : {{ a.project }} <br></li>
	{% endfor %}
	</ol> -->
</body>
</html>