{% extends "base.html" %}{% load staticfiles %}
{% block head_title %}
		<title>Home - Mini Portal</title>{% endblock %}
{% block style_css %}
		<link rel="stylesheet" href="{% static 'css/components/accordion.min.edit.css' %}">
		<link rel="stylesheet" href="{% static 'css/components/tooltip.min.css' %}">{% endblock %}
{% block style_js %}
		<script src="{% static 'js/components/accordion.js' %}"></script>
		<script src="{% static 'js/components/tooltip.js' %}"></script>{% endblock %}
{% block content %}

{% load staticfiles %}
{% block extrahead %}
    
{% endblock %}
{% include "snippets/navbar.html" %}

<div class="uk-accordion-content uk-active shadow " style="margin-top: 85px;padding: 5px;">
  <div class="uk-grid">
  
    <div class="uk-width-4-10">
      <div class="uk-panel uk-panel-box uk-panel-box-secondary">
        <h3 class="uk-panel-title">Contact Details Partner</h3>
        <p>{% for partners in partner %}
          <strong>{{partners.partner_name}}</strong>
          <br>{{partners.partner_address}}
          <!-- <br>Postal Zip Code -->
        </p>
        <h5 class="uk-text-bold uk-text-primary">Support</h5>
        <p>
          <span>{{partners.contact_support_name}}</span>
          <br><a>{{partners.contact_support_email}}</a><br>
          {{partners.contact_support_telp}}<br>
          <a>{{partners.contact_support_web}}</a>
        </p>
        <h5 class="uk-text-bold uk-text-primary">Sales</h5>
        <p>
          <span class="">{{partners.contact_sales_name}}</span>
          <br><a>{{partners.contact_sales_email}}</a><br>
          {{partners.contact_sales_telp}}
        </p>
        <h5 class="uk-text-bold uk-text-primary">Manager <span class="uk-text-small">(for escalation)</span></h5>
        <p>
          <span>{{partners.contact_manager_name}}</span>
          <br><a>{{partners.contact_manager_email}}</a><br>
          {{partners.contact_manager_telp}}
        </p>
        <p>
          <a href="{{partners.partner_web}}" target="blank"><span class="uk-icon-external-link"></span> {{partners.partner_web}}</a>  
        </p>
      </div>
    </div>{% endfor %}
    <div class="uk-width-6-10">
      <div class="uk-panel uk-panel-box uk-panel-box-secondary">
      	  <h4><u>List Project :</u></h4><br>
      	  <ol>
      	  {% for a in parter_by_project %}
      	  <li><a href="../{{ a.project_id }}">{{ a }}</li>
      	  {% endfor %}
      	  </ol>
      </div>
    </div>
  </div>
  <br><br>
</div>




<div class="uk-panel uk-panel-box uk-text-center uk-margin-small-top" style="padding:9px 9px 9px 9px;">
    <p><img src="{% static 'img/icons/dj64.ico' %}" height="16" width="16"> <a class="uk-link-muted" href="http://www.djangoproject.com" target="_blank">django</a> | <a class="uk-link-muted" href="#" target="_blank"><strong> © </strong>Dashboard Monitoring Project</a>  | <a href="https://www.linkedin.com/company/lintasarta/" target="_blank"><img src="https://www.lintasarta.net/wp-content/uploads/2018/06/xlinkedin-logo.png.pagespeed.ic.v4fxkCsCxE.webp" height="16" width="16"class="img-fluid"></a>
      
            
              <a href="https://twitter.com/Lintasarta" target="_blank"><img src="https://www.lintasarta.net/wp-content/uploads/2018/06/xtwitter-logo.png.pagespeed.ic.vop4jPiDG6.webp" height="16" width="16" class="img-fluid"></a>
      
            
              <a href="https://www.instagram.com/lintasarta.official" target="_blank"><img src="https://www.lintasarta.net/wp-content/uploads/2018/06/xinstagram-logo.png.pagespeed.ic.pO-8N7fpIT.webp" height="16" width="16"class="img-fluid"></a>
      
            
              <a href="https://www.facebook.com/lintasarta.official/" target="_blank"><img src="https://www.lintasarta.net/wp-content/uploads/2018/06/xfacebook-logo.png.pagespeed.ic.tgvhO7jcl_.webp" height="16" width="16" class="img-fluid"></a>
      
            
              <a href="https://www.youtube.com/user/aplikanusaLintasarta" target="_blank"><img src="https://www.lintasarta.net/wp-content/uploads/2018/06/xyoutube-logo.png.pagespeed.ic.qcBGMLKyRB.webp" height="16" width="16" class="img-fluid"></a>
      </p>

  </div>
</body>
</html>
{% endblock %}

