{% extends "base.html" %}{% load staticfiles %}
{% block head_title %}
		<title>Project Detail - Miniportal</title>{% endblock %}
{% block style_css %}
		<link rel="stylesheet" href="{% static 'css/components/accordion.min.edit.css' %}">
		<link rel="stylesheet" href="{% static 'css/components/tooltip.min.css' %}">{% endblock %}
{% block style_js %}
		<script src="{% static 'js/components/accordion.js' %}"></script>
		<script src="{% static 'js/components/tooltip.js' %}"></script>{% endblock %}
{% block content %}
	Jumlah projcet yang di handle {{project_by_lmdnya.count}} <br>	
	<ol>Customer :
	{% for lmd_for in project_by_lmdnya%}{% autoescape off %}
	
	{% for customer in lmd_for.customer.all%}
	
	<li>
	 {{ customer.customer_name }}
	<!-- {{lmd_for.project_name}} -->
	</li>
	
	{% endfor %}
	{% endautoescape%}{% endfor%}
	</ol>
	
	
	
	
{% endblock %}